
@import 'nib/positions'

.cf
	clearfix()

#i_1111
	border-left: solid 1px #555
	border-bottom: solid 1px #555
	border-top: solid 11px #555
	padding: 0 0 11px 11px
	.tagline
		font-size: 110%
		font-style: italic
		padding-bottom: 5px
		border-bottom: solid 5px #555
		margin-bottom: 11px

a [class^="icon-"]
	color #555
	font-size 130%

.nav > li > a:hover
	background-color #08c
	color #000
	[class^="icon-"]
		color #000
		font-size: 110%


.nav-pills > li > a
	display inline

.sliders-container
	fixed bottom right 20px

.signal-controls
	.control
		width 100px
		border solid 2px #333
		float left

.tip
	display block
	width 270px

#i_1234
	background-color #000

.resolve
	min-height 60px
	border solid 2px #333
	.no
		color rgb(160, 0, 0)
	.si
		color rgb(0, 140, 0)
	h1
		text-align center

.mun
	#text-align center
	width 4em
	.ui-progressbar
		height 1em
		.ui-progressbar-value
			margin 0px
	.name
		float left
	.logout
		margin-left 3em
	.avatar
		i
			font-size 300%
	.avatar-small
		i
			color rgb(255, 0, 180)
			width 1.5em
