
@import 'nib'


.cf
	clearfix()

// menu (these values will be moved over to the db soon)
#i_1111
	border-left: solid 1px #555
	border-bottom: solid 1px #555
	border-top: solid 11px #555
	padding: 0 0 11px 11px
	.tagline
		font-size: 110%
		font-style: italic
		padding-bottom: 5px
		border-bottom: solid 5px #555
		margin-bottom: 11px
	.logout
		margin-left 3em

a [class^="icon-"]
	color #555
	font-size 130%

.nav > li > a:hover
	background-color #08c
	color #000
	[class^="icon-"]
		color #000
		font-size: 110%


.nav-pills > li > a
	display inline

.sliders-container
	fixed bottom right 20px

.control
	.btn
		padding 2px
	.signal-level
		width 20px
		height 20px
		border-radius 10px
		display inline-block
		margin 0 4px
	.color-box
		border solid 1px #222
		width 10px
		height 10px
		display inline-block
		margin 0 4px

.signal-controls
	.control
		width 100px
		border solid 2px #333
		float left

.tip
	display block
	width 270px

#i_1234
	background-color #000

.headline
	text-align center
	form
		input
			padding 20px
		button
			padding 10px

.resolve
	min-height 60px
	border solid 2px #333
	.no
		color rgb(160, 0, 0)
	.si
		color rgb(0, 140, 0)
	h1
		text-align center
	.mun
		float left

.mun-belief
	display inline-block
	width 7em
	.mun
		float left
		width 1em
		height 1em
		.icon-user
			font-size 100%
	.prox
		border solid 1px #ccc
		width 4em
		height 1em
		float right
		background-color #eee
		.prox-belief
			height 100%
		.pos
			margin-left 2em
			background-color #0c0
		.neg
			float right
			margin-right 2em
			background-color #c00

.mun
	.ui-progressbar
		height .5em
		width 100%
		.ui-progressbar-value
			margin 0px
	.name
		float left
	.avatar
		i
			font-size 300%
	.avatar-small
		i
			color rgb(255, 0, 180)
			width 1.5em
